.depend
Make.dep
*.o
*.a
*.d
*.i
*~
.swp
.*.swp
core
.gdbinit
/cscope.*
nuttx/.config
nuttx/.config.old
nuttx/.version
nuttx/Make.defs
nuttx/setenv.sh
nuttx/setenv.bat
nuttx/nuttx-export.zip
/nuttx.*
/nuttx-*
/_SAVED_APPS_config
/*.map
/*.elf
/*.srec
/*.bin
/*.ihx
/*.hex
/pcode
/tags
